/* *{
    background-color:red
    
} */

.navbar .jumbotron{
    border-radius: 30px 30px;
   
    background-image: linear-gradient(to right,grey,black);
}


.navbar-light .navbar-toggler{
    color:white;
    border-color: white;
}

p{
    font-style: italic;
}